name: Train
on: [pull_request, push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'
    - name: Install apt-get dependencies
      run: |
        sudo apt-get install libboost-dev libboost-test-dev doxygen graphviz
    - name: Install pipenv
      run: |
        python -m pip install --upgrade pipenv wheel
    - id: cache-pipenv
      uses: actions/cache@v4
      with:
        path: ~/.local/share/virtualenvs
        key: ${{ runner.os }}-pipenv-${{ hashFiles('**/Pipfile.lock') }}
    - name: Install dependencies
      if: steps.cache-pipenv.outputs.cache-hit != 'true'
      run: pipenv install
    - name: Train
      run: pipenv run python DeepPanel.py
    - name: Test
      run: pipenv run python DeepPanelTest.py
    - name: Export mobile model
      run: pipenv run python DeepPanelMobile.py